<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="com.badoo.app" version="1.0.0">
    <name>Badoo App</name>
    <description>Badoo Style Social App</description>
    <author email="support@voltbuilder.com" href="https://voltbuilder.com">VoltBuilder User</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="LoadUrlTimeoutValue" value="60000" />
</widget>
